{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Question List</h1>
    {% if latest_question_list %}
    {% for question in latest_question_list %}
        <br><br>
        <h3><a href="{% url 'questions:detail' question.id %}">
            Question no: {{ question.id }}</a></h3>
        <p>Author: {{ question.user }}</p>
        <p>published: {{ question.pub_date }}</p>
        <p>{{ question.question_text|linebreaksbr }}</p>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% else %}
    <p>Sorry, You cannot see this page.</p>
{% endif %}
{% endblock %}
